/* src/css/Piece.css */

.piece {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: inline-block;
  transition: background-color 0.3s, transform 0.5s;
}

.piece.red {
  background-color: red;
}

.piece.green {
  background-color: green;
}

.piece.blue {
  background-color: blue;
}

.piece.yellow {
  background-color: yellow;
}

.piece.purple {
  background-color: purple;
}

/* 消えるアニメーション */
@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.disappearing {
  animation: disappear 0.5s forwards;
  /* 0.5秒で消えるアニメーション */
}